body {
    background-color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333333;
}

h1 {
    color: #007bff;
    font-family: 'Georgia', serif;
}

h2 {
    color: #ff6600;
    font-family: 'Courier New', monospace;
}

h3 {
    color: #009966;
}

p {
    width: 70%;
    margin: 10px auto;
    font-size: 16px;
    line-height: 22px;
}

img {
    border-radius: 12px;
    margin: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}
